/*公用*/
.comWidth {width:1000px; margin-left:auto; margin-right:auto;}
.leftArea {float:left;}
.rightArea {float:right;}
.hide {display: none;}
.show {display: block;}

/*topBar*/
.topBar {height:31px; background-color:#f7f7f7;  line-height: 31px; }
.topBar a:hover {color:red;}
.leftArea a {font-weight:bold;}

/*logoBar*/
.logoBar {height: 85px; width:100%; background-color:#1d7ad9;}
.logo {padding-left:41px; padding-top:13px;}

/*searchBox*/
.search_box {width:430px; padding-top:23px; padding-left: 185px;}
.search_text {width: 350px; height:35px; line-height:35px/9; padding:0 5px; background-color:#f7f7f7;}
.search_button {width:70px; height:35px; font-size:14px; font-family:"Microsoft YaHei"; background-color:#ff8c00; color:#f7f7f7}

/*shopCar*/
.shopCar {width:145px; height:35px; background-color:#ff8c00; margin-top:23px; font: 14px/35px "Microsoft YaHei"; color: #ffffff; margin-right:59px;}
.shopText {height:100%; width:87px;  border-right:#e27a00 solid 1px; background:url("../images/icon/shop.png") 10px center no-repeat; text-indent:40px;}
.shopNum {width:27px; height:35px; border-left: #ff9c01 solid 1px; height:100%; background: url("../images/icon/sanjiao.png") 33px center no-repeat; text-align: right; padding-right: 29px;}

/*navBox*/
.navBox {height:35px; width:100%; background-color:#1369c0; color:#f7f7f7;}
.shopClass {width:190px; position: relative; }
.shopClass h3 {line-height:35px; text-align:center;}
.shopClass i {width:11px; height:7px; overflow:hidden; background:url("../images/icon/xiasanjiao.png") left center no-repeat;display:inline-block; margin-left:11px;}
.nav {font: 14px/35px "Microsoft YaHei"; color: #ffffff;}
.nav li {float:left;}
.nav a {height:35px; display:inline-block; padding:0 35px; color:#fff; }
.nav .active:hover {background-color:#4593fd;}

/*shopClass_item*/
.shopClass_show {background-color: #4593fd; position: absolute; left:0; top:35px; width: 100%;}
.shopClass_item {padding:14px 10px; border-bottom: #3487f2 solid 1px; border-top: #5aa1fe solid 1px;}
.shopClass_item dt {height:22px; background: url("../images/icon/zuojiantou.png") right center no-repeat;}
.shopClass_item .b {font:14px/1 "Microsoft YaHei" ;}
.shopClass_item a {color: #f7f7f7;}
.shopClass_item a:hover {text-decoration: underline;}
.alink {width:48px; height:20px; background: url("../images/icon/alink.png") left center no-repeat; display:inline-block; text-align: center; line-height: 20px; text-decoration: underline;}

/*shopClass_item active状态*/
.shopClass_active{background-color: #fff; border-left: #4593fd solid 1px;}
.shopClass_active dt {background: none;}
.shopClass_active a{color:#000;}
.shopClass_active .alink {color: #fff; text-decoration: none;}

/*shopClass_list*/
.shopClass_list {width:560px; border:#ccc solid 1px; position: absolute; left:190px; top:35px;}
.shopList_cont {padding: 0 20px; }
.shopList_item {padding: 10px 0; border-bottom: #ccc solid 1px;}
.shopList_item dt {color:#4b87d9; line-height:24px; font-weight:bold; height:14px;}
.shopList_item dd {padding-left:68px; line-height:24px; margin-top:-14px;}
.shopList_item dd a {margin-right: 12px;}
.shopList_links {padding: 15px 0;}
.shopList_links a {color:#fff; background-color: #2785e6; height:26px; line-height:26px; font-size:12px; display: inline-block; padding: 0 14px 0 8px; margin-right: 10px;}
.shopList_links span {width:11px; height:7px; background: url("../images/icon/zuojiantou.png") left center no-repeat; display: inline-block; margin-left: 7px;}

/*banner_bar*/
.banner {margin-bottom:65px;}
.banner_bar {float:right; position:relative; overflow:hidden;}
.imgBox {position:absolute; left:0; top:0;}
.imgBox li {float: left;}
.imgBox img {display: block;}
.imgNum {position: absolute; left:0; bottom:15px; width:100%; text-align: center;}
.imgNum a {width: 20px; height: 5px; overflow: hidden; background-color: #fff; display: inline-block; margin: 0 3px;}
.imgNum .active {background-color: #ff7700;}

.banner_big, .banner_big img {width:810px; height:326px; }
.banner_big .imgBox {width:1620px;height:326px;}

.banner_sm, .banner_sm img {width:190px; height:400px;}
.banner_sm .imgBox {width:380px;height:400px;}

/*商品标题*/
.shopTit {height: 44px; font-family: "Microsoft YaHei"; line-height: 44px; margin-bottom: 15px;}
.shopTit h3 {font-size: 24px; float: left; font-weight:normal; padding-left: 15px;}
.icon {width:44px; height:44px; background:url("../images/icon/biaoji.png") left top no-repeat;float: left;}
.more {float: right; font-family: "STSongti SC Regular";}
.more:hover {text-decoration: underline;}

/*商品列表*/
.shopList .leftArea {width: 190px;}
.shopList .rightArea {width: 808px; border: #999 solid 1px;border-bottom: #ff7201 solid 3px; height: 396px; overflow: hidden;}

/*商品信息-右侧*/
.shopList {margin-bottom:15px;}
.shopList_top, .shopList_sm {margin-right: -4px;}
.shop_item {width:202px;border-right: #999 solid 1px; border-bottom: #999 solid 1px; height:279px; text-align: center; font-family: "Microsoft YaHei";  float: left;}
.shop_img {height: 218px; }
.shop_img img {width: 100%; height: 218px; display:block;}
.shop_item h3 {font-size: 16px; }
.shop_item p {font-size: 14px; color: #ff7300; line-height: 21px;  }

/*商品信息-右侧-下部*/
.shopItem_sm {width:202px; border-right: #999 solid 1px; height:100px; padding-top:16px; float:left;}
.shopItem_smImg {width:95px;height:95px; text-align:center; float:left;}
.shopItem_smImg img {width:95px;height:95px;}
.shopItem_text {padding-top: 8px; width: 100px; float: left;}
.shopItem_text p {color:#ff7300;}
.shopItem_text h3 {font-size:16px; font-family: "Microsoft YaHei"; font-weight: normal; line-height: 30px;}


/*底部-下部*/
.footer {text-align: center; background-color: #D4D4D4; line-height:24px;padding: 50px 0;}
.footer i {font-style:normal; margin:0 5px;}
.footer a {color: #000000;}
.footer a:hover{color: #f60;}
.footer_img {padding-top: 30px;}
.footer_img img {margin: 0 12px;}

























